/* 
## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the color variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800

*/

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  /* gradient */
  /* (background) */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  /* (circle) */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  background-color: var(--pale-blue);
  display: grid;
  place-content: center center;
}

.card {
  background-color: var(--white);
  display: flex;
  border-radius: 20px;
  max-width: 600px;
  height: 380px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.left-side {
  max-width: 50%;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  padding: 32px;
  color: var(--pale-blue);
  border-radius: 20px;
}

.result {
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  padding: 32px 52px;
}

.got-points {
  font-size: 48px;
  font-weight: 800;
}

.all-points,
.description,
.your-result {
  color: var(--light-lavender);
  font-size: 14px;
}

.your-result {
  font-size: 18px;
}

.text-result {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.description {
  max-width: 230px;
}

.right-side {
  min-width: 50%;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.category-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: 8px;
}

.right-side h2 {
  color: var(--dark-gray-blue);
  font-size: 20px;
}

.category-name-icon {
  display: flex;
  gap: 8px;
}

.red {
  background-color: rgb(255, 87, 87, 0.1);
}

.yellow {
  background-color: rgb(255, 176, 31, 0.1);
}

.green {
  background-color: rgb(0, 189, 145, 0.1);
}

.blue {
  background-color: hsl(234, 85%, 45%, 0.1);
}

.red .category-name {
  color: var(--light-red);
}

.yellow .category-name {
  color: var(--orangey-yellow);
}

.green .category-name {
  color: var(--green-teal);
}

.blue .category-name {
  color: var(--cobalt-blue);
}

.category-result {
  color: var(--light-lavender);
}

.category-result span {
  color: var(--dark-gray-blue);
  font-weight: 700;
}

.btn {
  padding: 12px;
  border-radius: 24px;
  border: none;
  color: var(--white);
  background-color: var(--dark-gray-blue);
  font-weight: 700;
}

.btn:hover {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  cursor: pointer;
}
